/* @override 
	http://localhost:3000/stylesheets/theme.css?1270679812
	http://localhost:3000/stylesheets/theme.css?1271099170
	http://localhost:3000/stylesheets/theme.css?1271103183
	http://localhost:3000/stylesheets/theme.css?1271114724
*/

@import url('reset.css');
@import url('joppa.css');

/* @group global layout 01*/

html,body { height:100%; }

body{
	background: url('../images/background_1024_bottom.png') no-repeat center bottom fixed;
	color: #010b05;
}


#backgroundcontainer {
	height: 100%;
	margin-top: 0px;
	background: url('../images/background_1024_top.png') no-repeat center top fixed;
}
	

/* @end */

/* @group layout */

	#container {
	width: 955px;
	padding: 50px 0px 0px 0px;
	margin: 0px auto;
	}
	
/* @end */

/* @group header */

	#branding {
		height: 109px;
		width: 230px;
		float: left;
		padding: 10px 10px 0px 10px;
		background: url('../images/logo_pitslamp.png');
	}
	
	#branding h1 a{
		height: 105px;
		width: 230px;
		display: block;
		text-indent: -9999px;
		overflow: hidden;
	}
	
	#optional {
		clear: left;
		float: left;
		margin: 153px 0px 0px -10px;
		width: 220px;
		height: 173px;
		padding: 0px 0px 0px 30px;
		background: url('../images/menu_bar.png');
	}
	
	#optional .vcard {
		margin-top: 60px;
		font: 14px georgia;
		color: #fff;
	}
	
	#optional .vcard a {
		color: #fff;
		text-decoration: none;
	}
	
	#optional .vcard .org {
		text-transform: uppercase;
	}
	
	#optional .vcard .adr {
		font-style: italic;
	}
	
	#optional .vcard .tel_block {
		margin-top: 18px;
		font: bold 14px Arial;
	}
	
	#optional .vcard .mail_label, #optional .vcard .email {
		display: none;
	}
	
	
	

/* @end */

/* @group nav lists */

	#navigation {
		float: left;
		margin-left: -250px;
		margin-top: 118px;
		
	}
	
	/* @group nav_primary */
		
		#nav_primary li {
			display: block;
			width: 250px;
			height: 30px;
			padding: 0px;
			
		}
		
		#nav_primary li a {
			font: 16px georgia, verdana;
			text-transform: uppercase;
			color: #fff;
			text-decoration: none;
			display: block;
			width: 220px;
			height: 25px;
			padding: 5px 0px 0px 30px;
			background: url('../images/menu_item.png') top left;
		}
	
	/* @end */
	
	/* @group navigation hover, selected */
	
	#nav_primary li a:hover, #nav_primary li.selected a {
			background: url('../images/menu_item.png') bottom left;
		}
	
	/* @end */
	
/* @end */

/* @group content */

	#content {
		width: 700px;
		height: 501px;
		float: left;
		margin-top: -5px;
	}
	
	/* @group content_primary */
	
		/* @group Slideshow */
		
		a.play {
			display: none; 
		}
		
		a.advance-link {
			height: 500px;
			width: auto;
			display: block;
			text-decoration: none;
		}
		
		.advance-link img{
			height: 500px;
			display: block;
		}
		
		#thumbs ul.thumbs{
			display: none;
		}
		
		
		#control {
			width: 250px;
			height: 42px;
			display: block;
			margin-left: -240px;
			margin-top: -25px;
			
		}
		
		#control #controls_info {
			width: 150px;
			float: left;
			height: 42px;
			display: block;
			padding-top: 8px;
			color: #dfdfdf;
			font: 11px Arial;
}
		
		
		#control #controls .nav-controls a.prev {
			height: 42px;
			width: 42px;
			display: block;
			background: url('../images/previous_arrow.png') top left;
			text-indent:  -9999px;
			float: left;
		}
		
		#control #controls .nav-controls a.next {
			height: 42px;
			width: 42px;
			display: block;
			background: url('../images/next_arrow.png') top left;
			text-indent:  -9999px;
			float: left;
		}
		
		#control #controls .nav-controls a:hover {
			background-position: bottom left;
		}
		
		.image-wrapper{
			display:block;
			width: 750px;
			height: 500px;
		}
		
		/* @end */
		
		/* @group text-content */
		
		#text_top {
			margin-top: 13px;
			width: 713px;
			height: 6px;
			background: url('../images/top_border_text.png') top left no-repeat;
			background-color: transparent;
		}
		
		#text_content {
			width: 613px;
			padding: 35px 40px 35px 60px;
			background: url('../images/middle_border_text.png') top left repeat-y;
			background-color: transparent;
			min-height: 400px;
			color: #010b05;
			font:  14px Georgia;
			color: #373737;
			line-height: 22px;
		}
		
		#text_bottom {
			width: 713px;
			height: 6px;
			background: url('../images/bottom_border_text.png') top left no-repeat;
			background-color: transparent;
			margin-bottom: 60px;
		}
		
		#text_content h1 {
			clear: both;
			font: 30px Georgia;
			margin-left: -20px;
			margin-bottom: 35px;
		}
		
		#text_content h2 {
			clear: both;
			font: 26px Georgia;
			margin-left: -20px;
			margin-bottom: 35px;
		}
		
		#text_content h3 {
			clear: both;
			font: 21px Georgia;
			margin-left: -20px;
			margin-bottom: 35px;
		}
		
		#text_content h4 {
			clear: both;
			font: Georgia;
			font-size: 15px;
			margin-left: -20px;
			margin-bottom: 35px;
		}
		
		#text_content p {
			margin-bottom: 20px;
		}
		
		#text_content a {
			color: #555555;
		}
		
		#text_content ul {
			margin: 0px 0px 20px 10px;
			list-style-type: circle;
		}
		
		#text_content ul li {
			margin: 3px 0px 3px 20px;
			line-height: 17px;
		}
		
		/* @end */
		
		/* @group forms */
		#content #content_primary span.input, #content #content_primary span.text {
			display: block;
			float: left;
			width: 100%;
		}
		 #content #content_primary label {
			width: 100px;
			margin: 3px 0px;
			font: 12px Arial;
			color: #686c6a;
			font-weight: bolder;
			text-align: right;
		}
		
		#content #content_primary input[type=text], #content #content_primary input[type=password] {
			background: url('../images/background_input.png') no-repeat;
			border: 0;
			height: 19px;
			width: 187px;
			padding: 2px 5px 2px 5px;
			color:  #505050;
			margin: 0px 0px 10px 10px;
			color: #343936;
			font: 14px Arial;
			font-weight: bolder;
		}
		
		#content #content_primary input[type=submit] {
			background: url('../images/button.png') no-repeat;
			border: none;
			width: 102px;
			height: 22px;
			padding: 0px;
			margin-top: 5px;
			margin-left: 110px;
			font: 13px Arial;
			color: #686c6a;
			font-weight: bolder;
		}
		
		#content #content_primary textarea {
			background: url('../images/background_textarea.png') no-repeat;
			border: 0px;
			width: 476px;
			height: 142px;
			padding: 5px 5px 5px 5px;
			margin: 0px 0px 10px 10px;
			color: #343936;
			font: 14px Arial;
			vertical-align: top;
		}
		
		#content #content_primary #datetime {
			display: block;
			float: left;
		}
		
		#content #content_primary #datetime #post_published_at_1i {
			margin-left: 10px;
		}

		/* @end */
		
		/* @group blog */
		
		#text_content div.post h3 {
			font: 23px Georgia;
			margin-left: -20px;
			color: #010b05;
		}
		
		#text_content div.post h3 a {
			text-decoration: none;
			color: #000;
		}
		
		#text_content div.post h3 span.created {
			font: small-caps 14px Georgia;
			color: #777777;
			display: block;
			text-transform: uppercase;
		}
		
		#text_content div.post span.comments_count {
			float: right;
			width: 60px;
			height: 40px;
			display: block;
			text-align: center;
			margin: -70px 5px 0px 0px;
			font-size: 13px;
			color: #010b09;
			font-variant: small-caps;
		}
		
		#text_content div.post span.comments_count a {
			text-decoration: none;
			color: #555555;
			font-size: 26px;
			margin-bottom: 7px;
			display: block;
		}
		
		#content_primary #text_content .post .portrait {
			width: 300px;
			display: block;
			margin-right: 5px;
			float: left;
			font-weight: bold;
			font-size: 10px;
			line-height: 1.4em;
		}
		
		#content_primary #text_content .post .landscape {
			width: 500px;
			display: block;
			margin-right: 5px;
			font-weight: bold;
			font-size: 10px;
		} 
		
		#content_primary #text_content .post img {
			margin-bottom: 7px;
		}
		
		#content_primary #text_content .post .link {
			float: left;
		}

		#content_primary #text_content .post .update {
			float: right;
			font-size: 10px;
		}
		
		#text_content .post h4, #text_content .comment_form h4 {
			padding-top: 15px;
			color: #777777;
			margin-left: 0px;
			font-size: 11px;
			text-transform: uppercase;
			border-top: 1px #909090 solid;
		}
		
		#text_content .comment {
			border: 0px;
			margin: 0px 0px 20px 0px;
		}
		
		#text_content .comment .comment_meta {
			height: 50px;
			width: 600px;
			margin: 5px;
			background: url('../images/background_comment_meta.png') repeat-x 0px 6px; 
			border-bottom: 1px #999 solid;
			font-size: 11px;
			font-family: arial;
			font-weight: bold;
		}
		
		#text_content .comment img {
			float: left;
			width: 50px;
			height: 50px;
		}
		
		#text_content .comment .comment_meta .reaction_time {
			margin: 5px 0px 0px 10px;
			display: block;
			float: left;
			width: 540px;		
		}
		
		#text_content .comment .comment_meta .author {
			margin: 0px 0px 10px 10px;
			display: block;
			float: left;
		}
		
		#text_content .comment .comment_meta .author a {
			text-decoration: none;
		}
				
		#text_content .comment .comment_content {
			clear: both;
			margin: 0px 0px 0px 60px
		}
		
		
		/* @end */
		
		/* @group admin */
		
		.admin #text_content ul.admin_menu {
			margin: 0px 0px 0px -20px ;
			display: block;
		}
		
		.admin #text_content ul.admin_menu li{
			display: block;
			margin: 5px;
			height: 29px;
			float: left;
			height: 30px;
		}
		
		.admin #text_content ul.admin_menu li a {
			display: block;
			text-decoration: none;
			background: url('../images/button.png') no-repeat;
			border: none;
			width: 102px;
			height: 20px;
			padding: 2px 0px;
			font: 15px Arial;
			color: #686c6a;
			font-weight: bolder;
			text-align: center;
		}
		
		.admin #text_content p a {
			margin-top: 10px;
			display: block;
			text-decoration: none;
			background: url('../images/button.png') no-repeat;
			border: none;
			width: 102px;
			height: 20px;
			padding: 2px 0px;
			font: 15px Arial;
			color: #686c6a;
			font-weight: bolder;
			text-align: center;
		}
		
		.admin #text_content h3 {
			clear: both;
		}
		
		.admin table {
			margin: 15px 0px 15px -20px 
		}
		
		.admin table tr th  {
			padding: 10px 5px;
			border-left: 1px #0f0f0f solid;
			background: #;
		}
		
		.admin #content #content_primary table tbody tr td {
			padding: 0px 5px 5px 5px;
		}
		
		.admin #content #content_primary table tbody tr td a {
			margin-top: 10px;
			display: block;
			text-decoration: none;
			background: url('../images/button.png') no-repeat;
			border: none;
			width: 102px;
			height: 20px;
			padding: 2px 0px;
			font: 15px Arial;
			color: #686c6a;
			font-weight: bolder;
			text-align: center;
		}
		
		.admin #content #content_primary #sort {
			padding: 20px 0px;
		}
				
		.admin #content #content_primary #sort li {
			padding: 3px 0px;
			margin: 0px;
			list-style-type: none;
		}
		
		.admin #content #content_primary #sort li span{
			display: inline-block;		
			height: 22px;
			padding: 1px 0px;
			width: 102px;
			text-align: center;
			background: url('../images/button.png') no-repeat;
		}
		/* @end */
		
	/* @end */

	/* @group content_secondary */
	
	/* @end */

/* @end */
/* @group site info */
	
	#site_info {
		display: none;
	}
	
/* @end */

/* @group extra */
/* @end */