= render :partial => "posts/post", :locals => { :post => @post }

- if @post.comments.blank?
  %p Er zijn nog geen reacties op dit bericht
- else
  = render :partial => "comments/comment", :collection => @post.comments, :locals => { :size => @post.comments.count }

.comment_form
  %h4 Plaats een reactie
  = render :partial => "comments/form"