.container
  #gallery.content
    .slideshow-container
      #slideshow.slideshow
    #control
      #controls_info
        Gebruik de toetsen om de volgende foto te bekijken
      #controls.controls
  #thumbs.navigation
    %ul.thumbs
      - @urls.each do |url|
        - embedded_image = embed(url)
        %li
          = link_to image_tag(embedded_image.url), embedded_image.url, { :title => embedded_image.title, :class=> "thumb" }

%script{ :type => "text/javascript" }
  $(document).ready(function() {
  $('#thumbs').galleriffic({
  imageContainerSel: '#slideshow',
  controlsContainerSel: '#controls'
  });
  });